[submodule "auth-module"]
	path = module
	url = git@github.com:jamiehill/authenticator/module.git
[submodule "auth-module-sample"]
	path = sample
	url = git@github.com:jamiehill/authenticator/sample.git
